<h1>Tasks To Do</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><a href="/tasks/<%= task.id %>"><%= task.description %></a></li>
  <% end %>
</ul>


<h2>New task</h2>

<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks" method="post">
  <label for="task_description">Description</label>
  <input id="task_description" name="description" type="text">
  <label for="task_due_date">Due date</label>
  <input id="task_due_date" name ="due_date" type="text">
  <button>Create Task</button>
</form>
